/* стили боковой временной шкалы */
.time-slot {
  display: flex;
  height: 60px;
  width: 80px;

  &__time {
    color: $textGrey;
    font-size: 10px;

    padding: 0 14px;
    margin-top: -7px;
  }
}
